.item-episode{
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.switch,.item-episode i{
    cursor: pointer;
}

.item-episode .switch{
    margin-right: 10px;
}
.item-episode i{
   margin-left: auto;
   margin-right: 15px;
}

